@import "tailwindcss";

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}


@font-face {
  font-family: "AspireSCBlackOblique";
  src: url("./assets/aspire-sc-black-oblique.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
